body {
  margin: 45px;
}

.selected {
  background-color: rgb(237, 236, 235);
}

.completed {
  text-decoration: line-through solid black;
}

.tarefa {
  border-radius: 5px;
  cursor: pointer;
  padding: 2px 10px;
  width: fit-content;
}
